<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ex.mapper.AdminStatTaskMapper">

<select id="getJoinUserCount" resultType="int">
	<![CDATA[
	select count(username) from tbl_member where regdate > #{startDate} and regdate < #{endDate}
	]]>
</select>

<select id="getLeaveUserCount" resultType="int">
	<![CDATA[
	select count(username) from tbl_member where leave_date > #{startDate} and leave_date < #{endDate} and state = 'L'
	]]>
</select>

<select id="getPostCount" resultType="int">
	<![CDATA[
	select count(bno) from tbl_board where regdate > #{startDate} and  regdate < #{endDate}
	]]>
</select>
	
<insert id="createUserStat">
	insert into tbl_user_stat(today, join_cnt, leave_cnt, post_cnt, visit_cnt) 
	values(#{today}, #{joinCnt}, #{leaveCnt}, #{postCnt}, #{visitCnt})
</insert>

<select id="getVisitCnt" resultType="int">
	<![CDATA[
	select count(last_access_time) from spring_session
	where last_access_time >= #{startEpochSecond} and last_access_time >= #{endEpochSecond}
	]]>
</select>

</mapper>
