<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ex.mapper.MsgMapper">
	
	<select id="readMsgList" resultType="kr.co.ex.domain.MsgVO">
		select * from tbl_msg where receiver=#{receiver} and receiver_delete_flag="0"
		order by msg_no desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="readMsg" resultType="kr.co.ex.domain.MsgVO">
		select * from tbl_msg where msg_no=#{msgNo}
	</select>
	
	<update id="updateSenderDeleteFlag">
		<foreach item="m" collection="msgNo">
			update tbl_msg set sender_delete_flag='1' where msg_no=#{m};
		</foreach>	
	</update>
		
	<update id="updateReceiverDeleteFlag">
		<foreach item="m" collection="msgNo">
			update tbl_msg set receiver_delete_flag='1' where msg_no=#{m};
		</foreach>
	</update>
	
	<update id="updateReceiverReadFlag">
		update tbl_msg set receiver_read_flag='1' where msg_no=#{msgNo}
	</update>
	
	<insert id="createMsg">
		insert into tbl_msg(title, content, sender, receiver)
		values (#{title}, #{content}, #{sender}, #{receiver})
	</insert>
	
	<insert id="createMsgList">
		insert into tbl_msg(title, content, sender, receiver)
		values
		<trim suffixOverrides=",">
		<foreach item="r" collection="receivers">
			(#{msg.title}, #{msg.content}, #{msg.sender}, #{r}),
		</foreach>
		</trim>
	</insert>
	
	<select id="getReceiverTotalCnt" resultType="int">
		select count(msg_no) from tbl_msg where receiver=#{receiver}
	</select>
	
	<select id="getSenderTotalCnt" resultType="int">
		select count(msg_no) from tbl_msg where sender=#{sender}
	</select>
	
</mapper>