<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ex.mapper.NotificationMapper">

<insert id="createNoti">
	insert into tbl_notification(bno, rno, username, type) values(#{bno}, #{rno}, #{username}, #{type})
</insert>

<select id="listNoti" resultType="kr.co.ex.dto.NotificationDto">
	select noti_reply.nno, read_flag, regdate, rno, type, reply, bno, title from 
		(select nno, read_flag, tbl_notification.rno, tbl_notification.regdate, type, reply from tbl_notification left join tbl_reply 
			on tbl_notification.username=#{username} and tbl_notification.delete_flag='0' and tbl_notification.rno=tbl_reply.rno) as noti_reply
		join
		(select nno, tbl_notification.bno, title from tbl_notification left join tbl_board 
			on tbl_notification.username=#{username} and tbl_notification.delete_flag='0'and tbl_notification.bno=tbl_board.bno) as noti_board
		on noti_reply.nno=noti_board.nno
	order by nno desc
	limit #{cri.pageStart}, #{cri.perPageNum}
</select>

<select id="readMemberNotiCnt" resultType="int">
	select count(nno) from tbl_notification where username=#{username}
</select>

<update id="updateReadNoti">
	update tbl_notification set read_flag='1' where nno=#{nno}
</update>

<update id="deleteNoti">
	update tbl_notification set delete_flag='1' where nno=#{nno}
</update>

</mapper>