<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ex.mapper.NotificationMapper">

<insert id="createNotification">
	insert into tbl_notification(bno, rno, username, type) values(#{bno}, #{rno}, #{username}, #{type})
</insert>

<select id="readNotification" resultType="kr.co.ex.domain.NotificationVO">
	select nno, tbl_notification.regdate, read_flag, delete_flag, tbl_board.bno, tbl_reply.rno, username, tbl_notification.type, title, reply
	from tbl_notification, tbl_reply, tbl_board 
	where tbl_notification.username=#{username} 
		and tbl_notification.delete_flag='0'
		and tbl_notification.rno=tbl_reply.rno
		and tbl_notification.bno=tbl_board.bno
	limit #{cri.pageStart}, #{cri.perPageNum}
</select>

<select id="readMemberNotiCnt" resultType="int">
	select count(nno) from tbl_notification where username=#{username}
</select>

<update id="markNotification">
	update table tbl_notification set read_flag='1' where nno=#{nno}
</update>

<update id="deleteNotification">
	update table tbl_notification set delete_flag='1' where nno=#{nno}
</update>

</mapper>