<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.co.ex.mapper.ReplyMapper">
  <insert id="create">
  	insert into tbl_reply(bno, reply, replyer, secret, password, par_rno) 
  	values (#{bno}, #{reply}, #{replyer}, #{secret}, #{password}, #{parRno})
  </insert>
  
  <select id="list" resultType="kr.co.ex.domain.ReplyVO">
  	select * from tbl_reply where bno=#{bno}
  </select>
  
  <select id="listCriteria" resultType="kr.co.ex.domain.ReplyVO">
  	select * from tbl_reply 
  	where bno=#{bno} and isnull(par_rno)
  	order by rno desc
  	limit #{cri.pageStart}, #{cri.perPageNum} 
  </select>
  
  <select id="listCriteriaAdded" resultType="kr.co.ex.domain.ReplyVO">
	select * from tbl_reply
	where par_rno=#{parRno}
	order by rno
	limit #{cri.pageStart}, #{cri.perPageNum}   
  </select>
  
  <select id="totalCount" resultType="int">
  	select count(rno) from tbl_reply where bno=#{bno}
  </select>
  
  <select id="addedTotalCount" resultType="int">
  	select count(par_rno) from tbl_reply where par_rno=#{parRno}
  </select>
  
  <select id="get" resultType="kr.co.ex.domain.ReplyVO">
   	select * from tbl_reply where rno=#{rno}
  </select>
  
  <select id="getReplyer" resultType="String">
  	select replyer from tbl_reply where par_rno=#{parRno}
  </select>
  
  <update id="update">
  	update tbl_reply set reply=#{reply}, updatedate=now()
  	where rno=#{rno}
  </update>
  
  <update id="delete">
  	update tbl_reply set delete_flag="1" where rno=#{rno}
  </update>
</mapper>