/boradEx/src/main/webapp/resources/plugins
/boradEx/src/main/webapp/resources/js/metisMenu.min.js
/boradEx/src/main/webapp/resources/js/sb-admin-2.js
/boradEx/src/main/webapp/resources/upload
/boradEx/src/main/webapp/resources/bootStrap
/boradEx/.metadata
/.propertise
/boradEx/RemoteSystemsTempFiles
/boradEx/src/admin.txt
/boradEx/target/class/admin.txt
/boradEx/src/main/resources/db.propertise
/boradEx/src/main/resources/oauth.propertise
/boradEx/target/classes/oauth.propertise
/boradEx/src/*.txt
/boradEx/target/classes/db.propertise
/boradEx/target/m2e-wtp/db.propertise
/boradEx/target/m2e-wtp/
/boradEx/local-repo 
*.DS_Store
bin
target
.classpath
.project
.settings
src/main/webapp/META-INF
.idea
*.iml
