<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	
	<!-- Appenders -->
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p: %c - %m%n" />
		</Console>
		<RollingFile name="file" 
			fileName="${catalina.home}/log/admin/admin.log"
			filePattern="${catalina.home}/log/admin/admin.%d{yyyy-MM-dd}.log"
			append="true">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{3}.%M - %m%n" />
			<Policies>
				<TimeBasedTriggerPolicy interval="1" />
			</Policies>
		</RollingFile>
	</Appenders>
	
	<!-- Application Loggers -->
	<springProfile name="dev">
		<Logger name="kr.co.ex.aop.AdminLogging" level="trace">
			<AppenderRef ref="file" />
		</Logger>
		<Logger name="kr.co.ex" level="debug" />
	</springProfile>
	
	<springProfile name="production">
		<Logger name="kr.co.ex.aop.AdminLogging" level="info">
			<AppenderRef ref="file" />
		</Logger>
		<Logger name="kr.co.ex" level="info" />
	</springProfile>
	
	<!-- 3rdparty Loggers -->
	<Logger name="org.springframework.core" leve="info" />

	<Logger name="org.springframework.beans" leve="info" />
	
	<Logger name="org.springframework.context" leve="info" />

	<Logger name="org.springframework.web" leve="info" />
	
	<Logger name="org.springframework.core.io.support" leve="info" />

	<!-- Root Logger -->
	<Root>
		<AppenderRef ref="console" />
	</Root>
	
</Configuration>
